* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #345f51;
  color: #c89dab;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Grenze", serif;
  line-height: 1em;
}

::selection{
  background-color: #eee1e5;
  color: #345f51;
}

header#header {
  margin: 5em 10em 7em 10em;
}

header#header h1 {
  font-size: 3.5em;
}

header#header h1 span {
  font-style: italic;
}

main {
  margin: 0 5em;
  display: grid;
  grid-template-columns: minmax(min-content, 19%) minmax(min-content, 19%) minmax(min-content, 19%) minmax(min-content, 19%) minmax(min-content, 19%);
  grid-column-gap: 1.5em;
  grid-row-gap: 2em;
}

main article {
  border-top: 3px solid #c89dab;
  padding-top: 1em;
}

main article.needs_watering {
  background-color: #c89dab;
  color: #345f51;
  padding-left: 1em;
  padding-right: 1em;
}

main article.needs_watering ::selection{
  background-color: #80b8a5;
  color: #81495b;
}

main article.needs_watering section {
  border-bottom: 1px dotted #345f51;
}

main article section, main article footer{
  font-family: "Roboto Mono", monospace;
  padding-top: 1em;
  border-bottom: 1px dotted #c89dab;
  padding-bottom: 1em;
}

main article section ul {
  list-style-type: none;
}

main article section ul li span {
  font-weight: 500;
}